* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.App div.left-panel{
  width: 70%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.App div.right-panel {
  width: 25%;
  background-color: whitesmoke;
  padding: 50px 20px;
  border-radius: 10px;
}

ul {
  list-style: square inside;
  padding-left: 5px;
}

h1, h2 {
  text-align: center;
}

form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

form > input { 
  margin: 0 10px;
}

input[type="text"] {
  background-color: #ccc;
  border: none;
  line-height: 50px;
  margin-left: 10px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

input[type="submit"] {
  border-radius: 5px;
  border: none;
  background-color: #668cff;
  line-height: 50px;
  padding: 0 15px;
  font-size: 20px;
  color: white;
}

div.list {
  font-size: 18px;
  margin-top: 50px;
  line-height: 35px;
}

div.list button {
  background-color: #668cff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 18px;
}

div.list button:hover, input[type="submit"]:hover {
  background-color: #3366ff;
}

@media screen and (max-width: 900px){
  .App {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
  }

  .App > div {
    width: 100% !important;
    border-radius: 0;
  }

  input[type="submit"] {
    border-radius: 5px;
    border: none;
    background-color: #668cff;
    line-height: 25px !important;
    height: 50px;
    padding: 0 5px;
    font-size: 18px;
    color: white;
  }

  input {
    margin: 10px !important;
  }

  form {
    flex-wrap: wrap;
  }
}